#parent {
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 50%;
    border: solid;
    padding: 40px;
    border-radius: 30px;
}

#space {
    width: 30px;
}

h1 {
    text-align: center;
}